@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap');

/* Todo: Header Section */
header {
    height: 105px;
}
.text-header {
    color: #333333;
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 100px;
}
img {
    width: 100%;
}

/* Todo: hero Section */
.hero {
    display: flex;
}
.hero-img {
    max-width: 500px;
    margin-left: 100px;
}
.hero-inf {
   margin-left: 120px;
   margin-right: 2vw;
}
.hero-title {
    color: #333333;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-size: 45px;
    font-weight: bold;
    line-height: 64px;
    letter-spacing: -0.035em;
    width: 400px;
    margin: 0;
}
.hero-paragraph{
    color: #4F4F4F;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    width: 370px; 
    margin-top: 40px;
}
.hero-button {
    background-color: #333333;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 13px;
    font-family: 'Space Mono', monospace;
    line-height: 21px;
    letter-spacing: -0.035px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 15px 30px;
    transition: all 0.5s ease-in;
}
.hero-button:hover {
    background-color: #616161;
}
.footer {
    text-align: center;
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 50px;
}
@media( max-width: 900px ) {
    .hero {
        flex-direction: column;
        align-items: center;
    }
    .hero-img,.hero-inf {
        margin: 0;
     }
}
@media( max-width: 460px ) {
    .hero {
        padding: 20px;
    }
    .hero-title {
        line-height: 45px;
        padding-left: 20px;
        font-size: 35px;
        width: 280px;
    }
    .hero-paragraph {
        line-height: 35px;
        padding-left: 20px;
        font-size: 20px;
        width: 280px;
    }
    .hero-button {
        font-size: 12px;
        margin: 0 20px;
    }
}